---
//import de componentes
import Hamburger from './hamburger.astro';
import Navigation from '../components/Navigation.astro';
---
<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>
