---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
      padding: 0.5rem 1rem;
      color: #e2d9c8;
      background-color: #0a0908;
      text-decoration: none;
    }
  </style>